.legal {
	padding: calc(80px + 40px) 0 80px;
}

.legal-inner {
}

.legal h1 {
	margin-bottom: 24px;
}

.legal :global(h2) {
	font-size: 22px;
	margin-top: 32px;
	margin-bottom: 8px;
}

.legal :global(p) {
	font-size: var(--text-body);
	font-weight: 300;
	line-height: 1.45;
}

@media (min-width: 768px) {
	.legal { padding: 160px 0 80px; }
}
